<gsic-title [title]="title">
</gsic-title>

<p>
  Laboris Lorem occaecat voluptate occaecat minim dolor dolore. Irure esse labore non magna ea enim nostrud deserunt aliqua
  consequat. Aliqua nisi reprehenderit eiusmod excepteur aliqua esse sunt laborum exercitation. Nostrud nulla minim adipisicing
  pariatur officia duis veniam labore et eiusmod deserunt. Minim Lorem minim nulla nulla incididunt dolore in sunt. Cupidatat
  elit qui sunt esse deserunt amet commodo labore velit magna in officia voluptate mollit. Qui ex deserunt laboris aute consectetur
  consectetur. Aliquip cillum sint culpa elit voluptate nostrud. Irure sunt non elit minim reprehenderit do eiusmod voluptate
  ullamco ipsum. Labore sit Lorem et commodo pariatur qui nulla ad anim aliquip in id nulla deserunt. Culpa ullamco aute
  ullamco officia nulla voluptate incididunt duis et commodo consectetur. Ea incididunt sunt velit enim ipsum. Reprehenderit
  non pariatur laboris veniam voluptate culpa. Consequat ex eu nostrud est occaecat amet officia ipsum. Enim ullamco ad aliqua
  minim consequat non cupidatat non minim duis dolore anim. Minim magna ad quis aute consequat magna reprehenderit quis.
  Adipisicing nulla reprehenderit sunt adipisicing dolor ex officia. Aliquip excepteur ad qui proident. Duis irure tempor
  nostrud elit dolor id reprehenderit aliqua sint sint ad consectetur. Quis sunt cupidatat do cillum minim anim officia consectetur.
  Cupidatat adipisicing minim exercitation amet ipsum aute est nisi sit ea. Aute enim aliquip aliqua voluptate eiusmod amet
  cillum.
</p>