h1 {
    text-transform: uppercase;
    color: rgb(215,0,138);
    text-align:center;   
}

h1::before,
h1::after {
    display: inline-block;
    content: "";
    border-top: .3rem solid rgb(215,0,138);
    width: 25%;
    transform: translateY(-.5rem);
}