.home {
    background: url(/assets/images/backgrounds/header.jpg) no-repeat center center/cover;
    height:750px;
    width: 100%;
}

.footer {
    background: url(/assets/images/backgrounds/footer.png) no-repeat center center/cover;
    height:100px;
}