<gsic-header></gsic-header>

<gsic-section [showBackground]="false">
    <gsic-events class="m-3"></gsic-events>
</gsic-section>

<gsic-section [showBackground]="true">
    <gsic-about class="m-3"></gsic-about>
</gsic-section>

<gsic-section [showBackground]="false">
    <gsic-team class="m-3"></gsic-team>
</gsic-section>

<gsic-section [showBackground]="true">
    <gsic-contribution class="m-3"></gsic-contribution>
</gsic-section>

<gsic-section [showBackground]="false">
    <gsic-sponsors class="m-3"></gsic-sponsors>
</gsic-section>

<gsic-section [showBackground]="true">
    <gsic-contact class="m-3"></gsic-contact>
</gsic-section>